@red: #ff0000;
@blue: #0000ff;
@lightgray: #d3d3d3;
@superlightgray: #fdfdfd;
@verylightgray: #fafafa;
@gray: #808080;
@white: #ffffff;
@lilac: #a26ba2;
@mint: #6ba26b;
@yellow: #ffa500;
@green: #00ff00;

body {
    font-family: 'Heebo', sans-serif;
}

.fa {
    margin: 5px;
}
.fa-exclamation-circle {
    color: @yellow;
}
.fa-check-circle {
    color: @mint;
}

p, h1, h3, button, input {
    margin: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: @gray;
    animation-duration: 0.5s;
    animation-name: darken;
}

input, textarea {
    border-radius: 10px;
    box-shadow: none;
    border-style: solid;
    border-color: @lightgray;
    padding: 2px 1px 1px 5px;
    border-width: 2px;
    animation-duration: 0.5s;
    animation-name: lighten;
}

button {
    padding: 10px 11px 8px 10px;
    border-width: 2px;
    border-color: @lightgray;
    border-radius: 10px;
    border-style: solid;
    background: @verylightgray;
    transition: border-color 0.5s ease-in-out;
}

button:hover {
    border-color: @gray;
}
button:focus {
    outline: 0;
}
button:active {
    background: @lightgray;
}

@keyframes darken {
    from {
        border-color: @lightgray;
    }
    to {
        border-color: @gray;
    }
}

@keyframes lighten {
    from {
        border-color: @gray;
    }
    to {
        border-color: @lightgray;
    }
}

.color-red {
    color: @red;
}
.color-blue {
    color: @blue;
}
.color-lilac {
    color: @lilac;
}
.color-mint {
    color: @mint;
}

.bg-red {
    background: @red;
}
.bg-blue {
    background: @blue;
}

.red-gradient {
background: rgba(255,0,0,1);
background: -moz-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,166,166,1) 15%, rgba(255,0,0,1) 25%, rgba(240,120,120,1) 50%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(15%, rgba(255,166,166,1)), color-stop(25%, rgba(255,0,0,1)), color-stop(50%, rgba(240,120,120,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,166,166,1) 15%, rgba(255,0,0,1) 25%, rgba(240,120,120,1) 50%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,166,166,1) 15%, rgba(255,0,0,1) 25%, rgba(240,120,120,1) 50%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,166,166,1) 15%, rgba(255,0,0,1) 25%, rgba(240,120,120,1) 50%, rgba(255,0,0,1) 100%);
background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(255,166,166,1) 15%, rgba(255,0,0,1) 25%, rgba(240,120,120,1) 50%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000', GradientType=1 );
}

.blue-gradient {
background: rgba(0,0,255,1);
background: -moz-linear-gradient(-45deg, rgba(0,0,255,1) 0%, rgba(210,210,252,1) 15%, rgba(0,0,255,1) 25%, rgba(147,147,250,1) 50%, rgba(0,0,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,255,1)), color-stop(15%, rgba(210,210,252,1)), color-stop(25%, rgba(0,0,255,1)), color-stop(50%, rgba(147,147,250,1)), color-stop(100%, rgba(0,0,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,0,255,1) 0%, rgba(210,210,252,1) 15%, rgba(0,0,255,1) 25%, rgba(147,147,250,1) 50%, rgba(0,0,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,0,255,1) 0%, rgba(210,210,252,1) 15%, rgba(0,0,255,1) 25%, rgba(147,147,250,1) 50%, rgba(0,0,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,0,255,1) 0%, rgba(210,210,252,1) 15%, rgba(0,0,255,1) 25%, rgba(147,147,250,1) 50%, rgba(0,0,255,1) 100%);
background: linear-gradient(135deg, rgba(0,0,255,1) 0%, rgba(210,210,252,1) 15%, rgba(0,0,255,1) 25%, rgba(147,147,250,1) 50%, rgba(0,0,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#0000ff', GradientType=1 );
}

.panel {
    border: 1px solid @lightgray;
    padding: 3px;
    margin: 3px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    background: @superlightgray;
}

.progress-bar-container {
    height: 20px;
}
.progress-bar-outline {
    border-width: 2px;
    border-style: solid;
    height: 14px;
    border-radius: 5px;
    border-color: @lightgray;
}

.progress-bar {
    height: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.tiny {
    font-size: 10px;
}
.skinny {
    font-weight: 100;
    font-size: 40px;
}
.wide {
    font-weight: 800;
    font-size: 30px;
}